@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-blue-50: #eff6ff;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
}

body {
  background-color: var(--color-gray-100);
  font-family: var(--font-sans);
}
